.chat {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    flex: .75;
    background-color: #363a3f;
    height: 100vh;
}
.chat::-webkit-scrollbar {
    display: none;
}
.chat__messages {
    flex: 1;
}
.chat__input {
    position: fixed;
    width: 71%;
    bottom: 0;
    color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 3px;
    margin: 20px 20px 0;
    border-top: 1px solid gray;
    background-color: #474b53;
}
.chat__input > form > input {
    padding: 15px;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: large;
}
.chat__input > form {
    flex: 1;
}

.chat__inputButton {
    display: none;
}
.chat__inputIcon > .MuiSvgIcon-root {
    padding: 5px;
    cursor: pointer;
}
.chat__inputIcon > .MuiSvgIcon-root:hover {
    color: gray;
}